@charset "utf-8";


  .nav.navbar-nav {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    #menu li .a{
      padding: 50px;
    }
   /* @media (min-width: 768px) {
      .navbar-nav {
      float: none;
        }
    }
  @media(max-width: 767px){
      #md{
        display: block;
      }
    }*/