body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img,button,input{border:0 none}
dl,ul,ol,menu,li{list-style:none;}
a:hover{text-decoration:none;}

/*header*/
.header{width: 100%;height: 105px;}
.navbar_b{width:100%; height:64px; border-bottom:1px solid #dadada;}
.navbar{width: 1254px;height: 64px;margin:0 auto;
		padding-left: 25px;padding-right: 20px;}

.navbar	.navbar_bar_1{position:relative;overflow:hidden}
.navbar	.navbar_bar_1 #navUl_1{width: 450px;overflow:hidden;}
.navbar	.navbar_bar_1 #navUl_1 li{float:left; margin:0 12px;}
.navbar	.navbar_bar_1 #navUl_1 li:hover{border-bottom: 3px solid #1428a0}
.navbar	.navbar_bar_1 #navUl_1 a{display:inline-block;padding:21px 0;color:#363636;font-size:14px;font-weight:bold;}
.navbar	.navbar_bar_1 #navUl_1 li a:hover{color:#1428a0;}
.navbar	.navbar_bar_1 img{position:absolute;width: 126px;height: 19px;top:21px;left:540px;}
.navbar	.navbar_bar_1 #navUl_2{width: 300px;float:right;display:inline-block;}
.navbar	.navbar_bar_1 #navUl_2 li{float:left;}
.navbar .navbar_bar_2{width: 861px;height: 20px;}
.navbar .navbar_bar_2 ul{overflow:hidden;margin-top:10px;margin-left:30px;}
.navbar .navbar_bar_2 ul li{float: left;}
.navbar .navbar_bar_2 ul li span{color:#636363;}


/*contents*/
.contents{width: 100%;height:2620px;}
.contents_banner_1{position:relative;width: 1440px;height: 640px;margin:0 auto; background: url(../images/pc_Notebook_PCD_KV_images_20180525.jpg)}
.contents_banner_1 h1{position:absolute;font-size:58px;color:white;font-weight:bold;top:190px;left:100px;}
.contents_banner_1 h2{position:absolute;font-size:24px;color:white;font-weight:bold;top:330px;left:100px;}
.contents_banner_1 a{position:absolute;display:inline-block;width: 151px;height: 53px;color:white;text-align:center;border-radius:20px;border:1px solid #fff;top:400px;left:100px;}
.contents_banner_1 a span{display:inline-block;width: 70px;margin-top:15px;}


.contents_banner_2{width: 100%;height: 853px;margin:0 auto;}
.contents_banner_2_title{width: 1440px;height: 257px;text-align:center;margin:0 auto;}
.contents_banner_2_title h2{margin:90px 0 22px;display:inline-block;width: 920px;height: 56px;font-size: 40px;font-weight:bold;color:#111;}
.contents_banner_2_title a{display:block;color:#111;font-size: 14px;font-weight:bold;padding-bottom:68px;}
.contents_banner_2_title ul{overflow:hidden;width:1440px;height: 596px;margin:0 auto;}
.contents_banner_2_title ul li{float:left;width: 330px;height: 596px;background-color: #f7f7f7;margin:0 15px;padding:56px 0 88px;}
.contents_banner_2_title ul a img{width: 220px;height: 220px;display:inline-block;margin-bottom:30px;}
.contents_banner_2_title ul a h5{margin-bottom:20px; color:#363636;font-weight:bold;}
.contents_banner_2_title ul a h6{margin-bottom:80px; color:#363636;}
.contents_banner_2_title ul a span{display:block;width: 143px;height: 50px;border-radius: 20px; border:1px solid #111; margin:0 auto;padding-top:15px;}


.contents_banner_3{width:100%;height: 1050px;margin-top:50x;}
.contents_banner_3_slick{width: 1440px;height: 1127px;margin:0 auto;}
.contents_banner_3_slick_content{width: 1440px;height: 250px;text-align: center;}
.contents_banner_3_slick_content h2{padding-top:67px;font-size:58px;color:#000;}
.contents_banner_3_slick_content h3{padding-top: 14px;font-size:20px;color:#363636;font-weight:bold;}
.contents_banner_3_slick_content p{display:block;padding-top: 14px; font-size:18px;color:#363636;}
.contents_banner_3_slick_content img{margin-top: 70px;}


.contents_banner_4{width:100%;height: 640px;background-color: #111;}
.contents_banner_4_banner_contents{width:1440px;height: 640px;background:url(../images/PCD_banner_SAcademy_PC.jpg);margin:0 auto;}
.contents_banner_4_banner_contents h2{padding:100px 0 80px 100px;color:#fff;font-weight:bold;font-size:58px;}
.contents_banner_4_banner_contents h3{line-height:40px;padding:0 0 80px 100px;color:#fff;font-weight:bold;font-style: 18px;}
.contents_banner_4_banner_contents span{margin-left:100px;color:#fff;font-weight:bold;display:block;border-radius:20px;border:1px solid #fff;width: 175px;height: 54px;text-align: center;padding-top:16px;}


.footer{width: 100%;height: 551px;position:relative;}
.footer .footer_top{width: 100%;height: 393px; padding:65px 0 46px;}
.footer_top .footer_top_inner{width: 1440px;height: 282px;margin:0 auto;}
.footer_top .footer_top_inner .footer__container{width: 1204px;height: 282px;margin:0 6.75%;}
.footer__container .footer__btn-top a{position:absolute;top:25px;right:200px;display:inline-block;color:white;}
.footer_top_inner .footer__col-wrap{width: 1204px;height: 261px;}

.footer__col-wrap_content_1 {display:block;float:left;}
.footer__col-wrap_content_1 {width: 602px;height: 261px;padding-bottom:42px;}
.footer__col-wrap_content_1 ul{float:left;width: 301px;height: 150px;padding-right: 48px}
.footer__col-wrap_content_1 ul li{width: 253px;height: 21px;margin-top:11px;}
.footer__col-wrap_content_1 ul li a{color:#363636;}

.footer__col-wrap_content_2{width: 301px;height: 222px;padding-right: 48px;float:left;}
.footer__col-wrap_content_2 ul{width: 253px;height: 185px;}
.footer__col-wrap_content_2 ul li{width: 253px;height: 21px;margin-top:11px;padding-top: 3px;}
.footer__col-wrap_content_2 ul li a{color:#363636;}

.footer__col-wrap_content_3 ul{overflow:hidden;}
.footer__col-wrap_content_3 ul li{float:left;}
.footer__col-wrap_content_3 ul li a{display:inline-block;font-size: 35px; padding-right:15px;margin-top:10px;color:#363636;}
.footer__container .footer__copyright p{font-size:10px;color:#000;}

.footer_bottom{width: 100%;height: 126px;background-color: #111;padding:23px 0 12px;}
.footer_inner{width: 100%;height: 81px;padding: 0 24px;}
.footer_container{width: 1184px;height: 81px; margin:0 6.78%;}
.footer_container .footer_bottom_list ul{overflow:hidden;padding-bottom:20px;}
.footer_container .footer_bottom_list ul li{float:left;padding-right:20px;}
.footer_container .footer_bottom_list ul li a{color:#fff;font-size:12px;}
.footer_container .footer_legal{width: 1184px;height: 40px;}
.footer_container .footer_legal p{color: #a6a6a6;font-size:10px;line-height:20px;}